@media screen and (min-width: 640px) {
	.blog-name {
		text-align: left;
		margin-bottom: 0;
	}
	.blog-menu li,
	.post-meta li,
	.social-media li {
    	display: inline;
	}
	.post-title {
		font-size: 48px;
	}
	.blog-pagination li,
	.blog-pagination a {
		display: inline;
	}
	.blog-pagination .pageof {
		position: relative;
		top: 0;
		padding: 0 20px;
	}
	.social-media {
		text-align: left;
	}
	.copyright {
		text-align: right;
	}
}